@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: mainFont;
  src: url('../public/font/Inter-VariableFont_slnt\,wght.ttf');
}

body {
  margin: 0;
  font-family: mainFont;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #E0E9F8;
  color: #222222;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.user-info-bgGradient {
  background: linear-gradient(180deg, #D1C1FF 0%, rgba(214, 200, 255, 0.70) 18.23%, rgba(185, 192, 255, 0.36) 70.31%, rgba(226, 225, 255, 0.53) 82.81%, rgba(255, 255, 255, 0.00) 100%);
}

.box-w-arrow::after {
  display: block;
  content: "";
  position: absolute;
  top: -18px;
  left: 5rem;
  border-style: solid;
  border-color: transparent;
  border-width: 10px 12px;
  border-bottom-color: white;
}

.slider-track-1 {
  background-color: #9069FF;
  height: 100%;
}

.auth-description::before {
  display: block;
  content: attr(data-text);
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  -webkit-text-stroke: 2px #9169ffab;
}