@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: mainFont;
  src: url('../public/font/Inter-VariableFont_slnt\,wght.ttf');
}

body {
  margin: 0;
  font-family: mainFont;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #E0E9F8;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
